h1{
  font-size: 5.625rem;
  margin: 100px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #45b29a;
}
h2{
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Montserrat', serif;
  color: #45b29a;
}
h3{
  color: #1e836c;
}
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
p{
  color: #40514E;
}
hr{
  border-style: none none dotted none;
  border-width: 8px;
  border-color:#c9d6df;
  width: 5%;
  margin: 100px auto 100px auto;
}
a:hover{
  color: #1e836c;
}

/*************************** CLASS SELECTORS***********************/
.top-container{
  background-color:#e0ebe8;
  position: relative;
  padding-top: 100px;
  margin-bottom: 0;
}
.bottom-container{
  background-color: #e0ebe8;
  padding-top: 50px;
  line-height: 2;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  top:100px;
  right: 350px;
}
.mountain{
  margin-top: 70px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.profile{
  width:25%;
  margin: 100px auto;
  line-height: 2;

}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.video-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profile-img{
  width: 50%;
}
.subtitle{
  font-size:1.5rem;
}
.contact-me{
  width: 40%;
  margin: 40px auto 40px;
  line-height: 2;
}
.footer-link{
  color:#45b29a;
  text-decoration: none;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
}
.myButton {
	box-shadow: 0 0 0 0 #3dc21b;
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0 1px 0 #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
	background-color:#11999e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.copyright{
  color:#45b29a;
  font-size: 0.74rem;
  padding: 20px 0;
}
